### These env vars are for authentication & database to work. If you don't require them, feel free to enter dummy values for all these.

VERCEL_GIT_COMMIT_SHA=
NEXT_PUBLIC_VERCEL_ENV=
NEXT_PUBLIC_GOOGLE_ID=
NEXT_PUBLIC_COOKIE_BANNER_ID=
NEXT_PUBLIC_GH_TOKEN=
NEXT_PUBLIC_GH_REPO_OWNER=
NEXT_PUBLIC_GH_REPO=
DISTRIBUTION_ENV=
ALIYUN_OSS_REGION=
ALIYUN_OSS_ACCESS_KEY_ID=
ALIYUN_OSS_ACCESS_KEY_SECRET=
ALIYUN_OSS_BUCKET=
ALIYUN_OSS_ENDPOINT=
API_BASE_URL=
ENCRYPT_KEY=
ENCRYPT_IV=
REQUEST_SIGN_KEY=
